<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="number" placeholder="AC1" name="notaAc1" [(ngModel)]="notaAc1">
        </div>
        <div class="col-md-12">
            <input type="number" placeholder="AC2" name="notaAc2" [(ngModel)]="notaAc2">
        </div>
        <div class="col-md-12">
            <input type="number" placeholder="AG" name="notaAg" [(ngModel)]="notaAg">            
        </div>
        <div class="col-md-12">
            <input type="number" placeholder="AF" name="notaAf" [(ngModel)]="notaAf">            
        </div>
        <div class="col-md-12">
            <input type="text" placeholder="Situação" name="situacao" [(ngModel)]="situacao">
            <button (click)="calcular()">Calcular Média</button>
        </div>
    </div>
</div>
